[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
python-binance = "*"
pandas = "*"
python-dotenv = "*"
pandas-ta = "==0.3.14b0"
daphne = "*"
channels = "*"
asgi-redis = "*"

[dev-packages]
autopep8 = "*"

[requires]
python_version = "3.9"
