{% extends 'homepage.html' %}

{% block coin_add %}

<div class="container mt-3">
    <h3>Type to search</h3>
    <form method="POST" action={% url 'CoinListAdd' %}>
      <div class="mb-3 mt-3">
        <label for="coin">Coin name:</label>
        {% csrf_token %}
        <input type="text" class="form-control" id="coin" placeholder="ex. BTCUSDT" name="coin" required>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>


  
  <div class="container mt-3">
  <div class="modal fade" id="SymbolListModalToggle" aria-hidden="true" aria-labelledby="SymbolListModalToggleLabel" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="SymbolListModalToggleLabel">Coin list</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          The are currently {{ symbol |length}} coin in the database.
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
         
            <!-- <form method="POST" action="UpdateBinanceSymbol/"> -->
            <form method="POST" action={% url 'UpdateBinanceSymbol' %}>
             
                {% csrf_token %}
                <!-- {{ form }} -->
                <!-- <input type="text" class="form-control" id="symbol" placeholder="ex. BTCUSDT" name="symbol"> -->
              
              <button type="submit" id="symbol"  name="symbol" class="btn btn-primary">Update</button>
            </form>
          
          <!-- <button type="button" class="btn btn-primary" href="{% url 'UpdateBinanceSymbol' %}">Update</a></button> -->
          <!-- <button class="btn btn-primary" data-bs-target="#SymbolListModalToggle2" data-bs-toggle="modal" data-bs-dismiss="modal">Update</button> -->
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="SymbolListModalToggle2" aria-hidden="true" aria-labelledby="SymbolListModalToggleLabel2" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="SymbolListModalToggleLabel2">Modal 2</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          Hide this modal and show the first with the button below.
        </div>
        <div class="modal-footer">
          <button class="btn btn-primary" data-bs-target="{% url 'CoinList' %}" data-bs-toggle="modal" data-bs-dismiss="modal">Back to first</button>
        </div>
      </div>
    </div>
  </div>
  <a class="btn btn-primary" data-bs-toggle="modal" href="#SymbolListModalToggle" role="button">Update list</a>
  </div>
  <br>
  <br>
  
  {% if form.errors %}
      {% for error in form.non_field_errors %}
          <div class="alert alert-danger alert-dismissible fade show container">
              <strong>{{ error|escape }}</strong>
              <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
          </div>
      {% endfor %}
  {% endif %}
  
  
  {% if show_text %}
    <div class="alert alert-success alert-dismissible fade show container">
      <strong>Success!</strong> Cryptocurrency pair {{ request.POST.coin|upper }} has been added successfully.
      <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
    </div>
  {% endif %}

<script>
$(function() {
  var availableSymbol = [
  "{% for name in symbol %}",
    "{{name}}",
   "{% endfor %}"          
  ];
  $( "#coin" ).autocomplete({
    source: availableSymbol,
    minLength: 2,
    autoFocus:true
    // search: function() {
    //             //reset every time a search starts.
    //             $("#coin").val(availableSymbol);
    //         }
  });

  // setTimeout(function(){
  //           location.reload();
  //       },15000);
} );


</script>

{% endblock coin_add %}