{% extends 'homepage.html' %}

{% block coin_del %}

<div class="container mt-3">
    <h3>Search coin to delete</h3>
    <form method="POST" action={% url 'CoinListDel' %}>
      <div class="mb-3 mt-3">
        <label for="coin">Coin name:</label>
        
        {% csrf_token %}
        <!-- {{ form }} -->
        <input type="text" class="form-control" id="coin" placeholder="ex. ADAUSDT" name="coin" required>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
  <br>
  <br>


  <script>
$(function() {
    $("#coin").autocomplete({
        source: "{% url 'autocompleteDel' %}",
        minLength: 2,
        autoFocus: true
    });
});
    </script>



{% if show_text %}
  <div class="alert alert-success alert-dismissible fade show container">
    <strong>Success!</strong> Cryptocurrency pair {{ request.POST.coin|upper }} has been deleted successfully.
    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
  </div>
{% endif %}  


{% if form.errors %}
{% for error in form.non_field_errors %}
    <div class="alert alert-danger alert-dismissible fade show container">
        <strong>{{ error|escape }}</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
    </div>
{% endfor %}
{% endif %}

{% endblock coin_del %}