{% extends 'homepage.html' %}
{% block crypto_detail %}

<div class="container-fluid" style="margin-top:80px">
    <div class="row align-items-start">
      <div class="col">
        <h3 class="text-left">{{ object }}</h3>
        <div class="mb-3 mt-3 border text-left">
            Price:
        <p>{{ object.price }}</p>



        </div>
      </div>
      <div class="col">
        Column
      </div>
      <div class="col">
        Column
      </div>
    </div>
  </div>
{% endblock crypto_detail %}