{% extends 'homepage.html' %}
{% block crypto_detail %}

<style>
.tradingview-widget-container div div {
   height: 600px !important;
}
  </style>


<div class="container-fluid" style="margin-top:80px">
    <div class="row align-items-start">
      <div class="col">
        <!-- TradingView Widget BEGIN -->
<div class="tradingview-widget-container">
  <div class="tradingview-widget-container__widget"></div>
  <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-single-quote.js" async>
  {
  "symbol": "BINANCE:{{ asset }}",
  "width": "100%",
  "colorTheme": "light",
  "isTransparent": true,
  "locale": "en"
}
  </script>
</div>
      </div>
      <!-- TradingView Widget END -->
      <div class="col">


        <div class="row">
          <div class="col">
          </div>
          

          <div class="col" style="color:Tomato;">
            {{ messageno }}
          </div>
        </div>
        <div class="row">
          <div class="col">
            <form method="POST" action={% url 'GetOldOhlcv' asset=asset  %}>
              <!-- <form method="POST" action={% url 'GetOldOhlcv' asset="object.coin"  %}> -->
              {% csrf_token %}
              <button type="submit" id="getdata" name="getdata" class="btn btn-primary btn-sm float-left">Get old OHLCV</button>
              </form> 
          </div>
          <div class="col">
            
          </div>
          <div class="col">
           
          </div>
        </div>
        <div class="row">
          <div class="col">
          </div>
          <div class="col" style="color:MediumSeaGreen;">
            {{ messageok }}
          </div>
          
        </div>


      </div>




      <div class="col">
        <div class="row">
          <br />
        </div>
        <div class="row">
        <form method="POST" action={% url 'GetOldOhlcv' asset=asset  %}>
          <!-- <form method="POST" action={% url 'GetOldOhlcv' asset="object.coin"  %}> -->
          {% csrf_token %}
          <button type="submit" id="getdata" name="getdata" class="btn btn-primary btn-sm float-left">Start websocket</button>
          </form> 
      </div>
      <div class="row">
      </div>




    </div>
  </div>


<div class="container-fluid">
  <div class="row">
    <div class="col-8">
      <!-- TradingView Widget BEGIN -->
<div class="tradingview-widget-container">
  <div id="tradingview_80845"></div>
  <script type="text/javascript" src="https://s3.tradingview.com/tv.js"></script>
  <script type="text/javascript">
  new TradingView.widget(
  {
  // "width": 980,
  // "height": 500,
  "autosize": true,
  "symbol": "BINANCE:{{ asset }}",
  "interval": "D",
  "timezone": "Europe/Rome",
  "theme": "light",
  "style": "1",
  "locale": "en",
  "show_popup_button": true,
  "popup_width": "1000",
  "popup_height": "650",
  "toolbar_bg": "#f1f3f6",
  "enable_publishing": false,
  "hide_side_toolbar": false,
  "save_image": false,
  "container_id": "tradingview_80845"
}
  );
  </script>

</div>
<!-- TradingView Widget END -->



<!-- <script>
  // console.log(window.location)
var loc = window.location;

var wsStart = "ws://";
if (loc.protocol == 'https:') {
  wsStart = 'wss://';
}

// var endpoint = wsStart + loc.host + loc.pathname;
var endpoint = "wss://stream.binance.com:9443/ws/{{ object|lower }}@aggTrade"
var socket = new WebSocket(endpoint);

// socket.onopen = function(e){
//   var price = event.data;
//     document.querySelector('#price').innerText = price;
//   };

// socket.onmessage = function(e){
//   console.log("open", e);
// };

socket.onmessage = function(e){
  console.log("messages", e);
    var obj = event.data;
    price = JSON.parse(obj);
    console.log(price.p);
    document.querySelector('#price').innerText = price.p;
  };
socket.onerror = function(e){
  console.log("error", e);
};
socket.onclose = function(e){
  console.log("close", e);
};


</script> -->






<p id="price">{{ text }}</p>



{% endblock crypto_detail %}