{% extends 'homepage.html' %}
{% block crypto_detail %}

<style>
.tradingview-widget-container div div {
   height: 600px !important;
}
  </style>


<div class="container-fluid" style="margin-top:80px">
    <div class="row align-items-start">
      <div class="col">
        <!-- TradingView Widget BEGIN -->
<div class="tradingview-widget-container">
  <div class="tradingview-widget-container__widget"></div>
  <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-single-quote.js" async>
  {
  "symbol": "BINANCE:{{ object }}",
  "width": "100%",
  "colorTheme": "light",
  "isTransparent": true,
  "locale": "en"
}
  </script>
</div>
<!-- TradingView Widget END -->
      </div>
      <div class="col">
        column
      </div>
      <div class="col">
        Column
      </div>
    </div>
  </div>


<div class="container-fluid">
  <div class="row">
    <div class="col-8">
      <!-- TradingView Widget BEGIN -->
<div class="tradingview-widget-container">
  <div id="tradingview_80845"></div>
  <script type="text/javascript" src="https://s3.tradingview.com/tv.js"></script>
  <script type="text/javascript">
  new TradingView.widget(
  {
  // "width": 980,
  // "height": 500,
  "autosize": true,
  "symbol": "BINANCE:{{ object }}",
  "interval": "D",
  "timezone": "Europe/Rome",
  "theme": "light",
  "style": "1",
  "locale": "en",
  "show_popup_button": true,
  "popup_width": "1000",
  "popup_height": "650",
  "toolbar_bg": "#f1f3f6",
  "enable_publishing": false,
  "hide_side_toolbar": false,
  "save_image": false,
  "container_id": "tradingview_80845"
}
  );
  </script>

</div>
<!-- TradingView Widget END -->

<script>
  var socket = new WebSocket('ws://localhost:8000/ws/ohlcv/');

  socket.connect = function(event){
    var price = event.data;

    document.querySelector('#price').innerText = price;


  }
</script>

<p id="price">{{ text }}</p>
{{ message }}
<!-- <script>
var loc = window.location;
// var wsStart = 'ws://';
// if (loc.protocol == 'https:') {
//     wsStart = 'wss://'
// }
var endpoint = 'ws://localhost:8000/ws/ohlcv/'

var socket = new WebSocket(endpoint);

socket.onmessage = function(e){
    console.log("message", e);
};
socket.onopen = function(e){
    console.log("open", e);
};
socket.onerror = function(e){
    console.log("error", e)
};
socket.onclose = function(e){
    console.log("close", e)
};
</script> -->
{% endblock crypto_detail %}