{% extends 'homepage.html' %}
{% block coin_list %}
<div class="container-fluid"  style="margin-top:80px">
   <div class="row align-items-start">
      <div class="col">
         <h3 class="text-left">Coin managed</h3>
         <table class="table table-hover">
            <thead>
               <tr class="d-flex">
                  <th class="col-4" scope="col">Coin list</th>
               </tr>
            </thead>
            <tbody>
               {% for coin in coinlist %}
               <tr>
                  <td>{{ coin }}</td>
               </tr>
               {% endfor %}
            </tbody>
         </table>
      </div>
      <div class="col">
         <h3>Add a new pair</h3>
         <form method="POST" id="coinadd" action="{% url 'ManageCoinAddView' %}">
            <div class="mb-3 mt-3">
               <label for="coin">Coin name</label>
               {% csrf_token %}
               <input type="text" class="form-control" id="coin" placeholder="ex. BTCUSDT" name="coin" required>
            </div>
            <button type="submit" name="coinadd" class="btn btn-primary">Submit</button>
         </form>
         <br>
         {% if show_text %}
         <div class="alert alert-success alert-dismissible fade show container">
            <strong>Success!</strong> Cryptocurrency pair {{ request.POST.coin|upper }} has been added successfully.
            <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
         </div>
         {% endif %}
         {% if addform.errors %}
         {% for error in addform.non_field_errors %}
         <div class="alert alert-danger alert-dismissible fade show container">
            <strong>{{ error|escape }}</strong>
            <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
         </div>
         {% endfor %}
         {% endif %}            
         <div class="mb-3 mt-3 border text-left">
            <h5>Binance list</h5>	
            <p class="text-start text-decoration-underline">The are currently <b>{{ symbolist | length}}</b> pair listed<br>
            </p>
            <form method="POST" action={% url 'UpdateBinanceSymbol' %}>
               {% csrf_token %} 
             <button type="submit" id="symbol"  name="symbol" class="btn btn-primary">Update</button>
            </form>
         </div>
         {% if list_updated %}
         <div class="alert  alert-info alert-dismissible fade show container">
            <strong>Info!</strong> List already updated ;)
            <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
         </div>
         {% endif %}
         {% if show_list_text %}
         <div class="alert alert-success alert-dismissible fade show container">
            <strong>Success!</strong> List updated successfully
            <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
         </div>
         {% endif %}


         
      </div>
      <div class="col">
         last column
      </div>
   </div>
</div>
<script>
   $(function() {
   $("#coin").autocomplete({
     source: "{% url 'autocompleteAdd' %}",
     minLength: 2,
     autoFocus: true
   });
   });
</script>
{% endblock coin_list %}