{% extends 'base.html' %}

{% block content %}



<div class="container-fluid" style="margin-top:80px">
   <div class="row">
     <div class="col">
       <h3 class="pull-left"><b>Balance Tot</b></h3>
       {{ wallet_balance.last.usdtbal }} ₮
       <br>
       {{ wallet_balance.last.btcbal }} ₿
      </div>
      <div class="col">
       <h3 class="pull-left"><b>Spot</b></h3>
       {{ wallet_balance.last.usdtspot }} ₮
       <br>
       {{ wallet_balance.last.btcspot }} ₿
      </div>
      <div class="col">
       <h3 class="pull-left"><b>Savings</b></h3>
       {{ wallet_balance.last.usdtsav }} ₮
       <br>
       {{ wallet_balance.last.btcsav }} ₿
      </div>
      <div class="col">
       <h3 class="pull-left"><b>Staking</b></h3>
       {{ wallet_balance.last.usdtstake }} ₮
       <br>
       {{ wallet_balance.last.btcstake }} ₿
      </div>
      <div class="col">
         <form method="POST" action={% url 'UpdateWalletAsset' %}>
            {% csrf_token %}
            <button type="submit" id="assetlist"  name="assetlist" class="btn btn-primary btn-sm float-end">Update Asset</button>
         </form>
         <br><br>
         <div class="float-end">Last update: {{ wallet_balance.last.time }}</div>
      </div>
   </div>
   <hr>
   <div class="row">
      <div class="col-8">
         <div class="row align-items-center overflow-auto" style="margin-top:10px; max-height: 45%">
            <table class="table">
               <thead>
                  <tr>
                     <th scope="col">#</th>
                     <th scope="col">Asset</th>
                     <th scope="col">Free</th>
                     <th scope="col">Locked</th>
                     <th scope="col">BTC ₿</th>
                     <th scope="col">USDT $</th>
                  </tr>
               </thead>
               <tbody>
                  {% for x in wallet_asset %}
                  <tr>
                     <th scope="row">{{ forloop.counter }} </th>
                     <td>{{ x.asset }}</td>
                     <td>{{ x.free.normalize }}</td>
                     <td>{{ x.locked.normalize }}</td>
                     <td>{{ x.ownbtc.normalize }}</td>
                     <td>{{ x.ownusdt.normalize }}</td>
                  </tr>
                  {% endfor %}
               </tbody>
            </table>
         </div>
      </div>
      <div class="col">
         


      <canvas id="myChart" style="width:100%;max-width:600px; margin-top:10px"></canvas>

<script>
var resultsX = ["{% for x in wallet_asset %}", 
                  "{{ x.asset }}",
               "{% endfor %}"];

var resultsY = ["{% for x in wallet_asset %}",
                     "{{ x.ownusdt.normalize }}",
                  "{% endfor %}"];

var xValues = resultsX.filter(element => {
  return element !== "";
});

var yValues = resultsY.filter(element => {
  return element !== "";
});

function getRandomColor() { 
var colors = [];
for (var i = 0; i < "{{ wallet_asset|length }}"; i++) {
   var letters = '0123456789ABCDEF'.split('');
   var color = '#';
   for (var x = 0; x < 6; x++) {
      color += letters[Math.floor(Math.random() * 16)];
   }
   colors.push(color);
}
return colors;
}



new Chart("myChart", {
type: "doughnut",
data: {
   labels: xValues,
   datasets: [{
      // backgroundColor: barColors,
      backgroundColor: getRandomColor(),
      data: yValues
   }]
},
options: {
   title: {
      display: true,
      text: "Asset USDT balance"
   }
}
});

</script>

</body>



      </div>
   </div>
   </div>


{% endblock content %}