{% extends 'base.html' %}

{% block content %}
<div class="container-fluid" style="margin-top:80px">
   <h2 class="text-center">Wallet. . . 
      <small class="text-muted">   a simple summary</small>
   </h2>
   <div class="row ">
      <div class="col col-sm-6">
         <div class="row align-items-center overflow-auto" style="margin-top:30px; max-height: 40%">
            <div class="col col-sm-2">
               <h3 class="pull-left"><b>Assets</b></h3>
            </div>
            <div class="col col-sm-10 ">
               <form method="POST" action={% url 'UpdateWalletAsset' %}>
               {% csrf_token %}
               <button type="submit" id="assetlist"  name="assetlist" class="btn btn-primary btn-sm float-end">Update Asset</button>
               </form>
            </div>
            <table class="table">
               <thead>
                  <tr>
                     <th scope="col">#</th>
                     <th scope="col">Asset</th>
                     <th scope="col">Free</th>
                     <th scope="col">Locked</th>
                     <th scope="col">BTC</th>
                     <th scope="col">USDT</th>
                  </tr>
               </thead>
               <tbody>
                  {% for x in wallet_asset %}
                  <tr>
                     <th scope="row">{{ forloop.counter }} </th>
                     <td>{{ x.asset }}</td>
                     <td>{{ x.free.normalize }}</td>
                     <td>{{ x.locked.normalize }}</td>
                     <td>{{ x.ownbtc.normalize }}</td>
                     <td>{{ x.ownusdt.normalize }}</td>
                  </tr>
                  {% endfor %}
               </tbody>
            </table>
         </div>
      </div>
      <div class="col col-sm-6">
         <div class="row align-items-center overflow-auto" style="margin-top:30px; max-height: 40%">
            <div class="col col-sm-5">
               <h3 class="pull-left"><b>Balance</b></h3>
               Time {{ wallet_balance.last.time }}
               <br>
               Spot balance:  {{ wallet_balance.last.usdtbalance }} USDT
               <br>
               Spot balance: {{ wallet_balance.last.btcbalance }} BTC
               
               
            </div>
         </div>   
      </div>
   </div>
</div>

{% endblock content %}