{% extends 'base.html' %}

{% block content %}



<div class="container-fluid" style="margin-top:80px">
   <div class="row">
     <div class="col">
       <h3 class="pull-left"><b>Balance Tot</b></h3>
       0.0 USDT<br>
       0.0 BTC <br> 
      </div>
      <div class="col">
       <h3 class="pull-left"><b>Spot</b></h3>
       {{ wallet_balance.last.usdtbal }} USDT
       <br>
       {{ wallet_balance.last.btcbal }} BTC
      </div>
      <div class="col">
       <h3 class="pull-left"><b>Savings</b></h3>
       0.0 USDT<br>
       0.0 BTC <br>
      </div>
      <div class="col">
       <h3 class="pull-left"><b>Stake</b></h3>
       0.0 USDT<br>
       0.0 BTC <br>
      </div>
      <div class="col">
         <form method="POST" action={% url 'UpdateWalletAsset' %}>
            {% csrf_token %}
            <button type="submit" id="assetlist"  name="assetlist" class="btn btn-primary btn-sm float-end">Update Asset</button>
         </form>
         <br><br>
         <div class="float-end">Last update: {{ wallet_balance.last.time }}</div>
      </div>
   </div>


   </div>
   <div class="row">
     <div class="col">
       1 of 3
     </div>
     <div class="col">
       2 of 3
     </div>
     <div class="col">
       3 of 3
     </div>
   </div>
 </div>










<!-- <div class="container-fluid" style="margin-top:80px">
   <div class="row">
         <form method="POST" action={% url 'UpdateWalletAsset' %}>
            {% csrf_token %}
            <button type="submit" id="assetlist"  name="assetlist" class="btn btn-primary btn-lg float-end">Update Asset</button>
         </form>
  </div>
   <div class="row ">
      <div class="col col-sm-6">
         <div class="row align-items-center overflow-auto" style="margin-top:30px; max-height: 40%">
            <div class="col col-sm-2">
               <h3 class="pull-left"><b>Assets</b></h3>
            </div>
            <table class="table">
               <thead>
                  <tr>
                     <th scope="col">#</th>
                     <th scope="col">Asset</th>
                     <th scope="col">Free</th>
                     <th scope="col">Locked</th>
                     <th scope="col">BTC ₿</th>
                     <th scope="col">USDT $</th>
                  </tr>
               </thead>
               <tbody>
                  {% for x in wallet_asset %}
                  <tr>
                     <th scope="row">{{ forloop.counter }} </th>
                     <td>{{ x.asset }}</td>
                     <td>{{ x.free.normalize }}</td>
                     <td>{{ x.locked.normalize }}</td>
                     <td>{{ x.ownbtc.normalize }}</td>
                     <td>{{ x.ownusdt.normalize }}</td>
                  </tr>
                  {% endfor %}
               </tbody>
            </table>
         </div>
      </div>
      <div class="col col-sm-6">
         <div class="row align-items-center overflow-auto" style="margin-top:30px; max-height: 40%">
            <div class="col col-sm-5">
               <h3 class="pull-left"><b>Balance</b></h3>
               Time {{ wallet_balance.last.time }}
               <br>
               <br>
               <h3 class="pull-left"><b>Spot</b></h3>
               {{ wallet_balance.last.usdtbalance }} USDT
               <br>
               {{ wallet_balance.last.btcbalance }} BTC
               <br>
               <br>
               <h3 class="pull-left"><b>Savings</b></h3>
               0.0 USDT<br>
               0.0 BTC <br>
               <br>
               <h3 class="pull-left"><b>Stake</b></h3>
               0.0 USDT<br>
               0.0 BTC <br>
            </div>
         </div>   
      </div>
   </div>
</div> -->

{% endblock content %}